<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="http://attach-paas-test.azurewebsites.net/javascripts/main.js"></script>
<link href="http://attach-paas-test.azurewebsites.net/styles/styles.css" rel="stylesheet">

<html>
    <div class="test">
        
    </div>
</html>