<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="/javascripts/main.js"></script>
<link href="/styles/styles.css" rel="stylesheet">

<html>
    <div class="test">
        
    </div>
</html>